#{{ansible_managed}}

#Don't modify this file - you'll be sad when an ansible run overwrites it.

<VirtualHost *:80>
  ServerName {{item['host']}}

  DocumentRoot /var/www/{{item['directory']}}/{{item['docroot']}}/
  CustomLog "/home/vagrant/apache_logs/{{item['host']}}-access.log" combined
  ErrorLog "/home/vagrant/apache_logs/{{item['host']}}-error.log"

  <Directory />
  AllowOverride All
  </Directory>

  ServerAlias www.{{item['host']}}
</VirtualHost>
