*~
ac-comphist.dat
auto-save-list
bookmarks
*.elc
elpa
eshell
image-dired*
site-lisp/setup-personal.el
places
recentf
savehist
saveplace
session.*
.smex-items
tramp
url
projectile*
/skewer-cache/
/history
transient/
/straight/*
!/straight/versions
/lsp-cache/
/.lsp-session-v1
/.cache/
